.carrousel {
    max-width: calc(100vw - 40px);
    height: 255px;
    margin: auto;
    position: relative;
}
.carrousel-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.carrousel-previous {
    transform: rotate(90deg);
    fill: #ffffff;
    height: 11.67px;
    width: 19.8px;
    position: absolute;
    left: 6px;
    top: calc(50% - 10px);
}
.carrousel-next {
    transform: rotate(-90deg);
    fill: #ffffff;
    height: 11.67px;
    width: 19.8px;
    position: absolute;
    right: 6px;
    top: calc(50% - 10px);
}
