.dropdown {
    max-width: calc(100vw - 40px);
    margin: 20px auto;
}
.dropdown-title {
    background: #ff6060;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    padding: 0 15px;
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
}
.dropdown-title p {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.dropdown-content {
    background: #f7f7f7;
    border-radius: 5px;
    padding: 20px 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #ff6060;
}
.dropdown-chevron {
    height: 15px;
    width: 9px;
    fill: #fff;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .dropdown {
        max-width: 1023px;
    }
    .dropdown-title {
        font-size: 24px;
        line-height: 142.6%;
    }
    .dropdown-content {
        font-size: 24px;
        line-height: 142.6%;
    }
    .dropdown-chevron {
        width: 14.06px;
        height: 23.86px;
    }
}
