.rental-gallery {
	box-sizing: border-box;
	display: grid;
	width: calc(100vw - 40px);
	margin: auto;
	margin-top: 22px;
	grid-template-columns: 1fr;
	padding: 0;
	row-gap: 20px;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.rental-gallery {
		background: #f7f7f7;
		width: calc(100vw - 200px);

		margin-top: 40px;
		border-radius: 25px;
		padding: 50px;

		grid-template-columns: repeat(3, 1fr);
		gap: 50px 60px;
	}
}
