.rental-thumb {
    height: 340px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%), #FF6060;
    border-radius: 10px;
    list-style-type: none;
    display: flex;  
    align-items: flex-end;
    justify-content: flex-start;
}
.rental-thumb p {
    color: #FFF;
    padding: 20px;
}